/*c s s  p a d r a o*/

 html, body {
    background-color: rgb(250, 250, 250) !important;
}

/*c a r r o s s e l */
.Carrossel {
    margin: 20px auto;
    max-width: 1000px;
    padding: 0 20px;
    overflow: hidden;
}

.carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/*p r o m o ç õ e s*/

.banner-promo {
    margin: 20px auto;
    max-width: 950px;
    padding: 0 20px;
}

.banner-promo img {
    width: 100%;
    box-shadow: 0 4px 20px rgba(251, 86, 48, 0.3);
}

/*c o n t e u  d o*/

.titulo-container {
    text-align: center;
    color: rgb(251, 86, 48);
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
}

.grid-cupom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 700px; 
    width: 100%;      
    margin: 30px auto;
    padding: 10px;
    place-items: center;
}

.cupom-capa {
    width: 300px;
    height: 300px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    padding: 40px 80px;
    border-radius: 15px;
    border:dashed 2px rgb(170, 170, 170);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;
}

.cabecalho-cupom {
    display: flex;
    justify-content:space-between;
}

.cupom-imagem {
    margin-left: -50px;
    margin-top: -10px;
}

.cupom-imagem img {
    width: 100px;
    border-radius: 50%;    
}

.tipo-cupom {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.cupom-info{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.desconto-cupom {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-left: -50px;
    margin-top: 10px;
}

.limite-cupom{
    margin-left: -110px;
    margin-top: 5px;
}

.linha-divisao {
    width: 255px;
    height: 2px;
    background-image: repeating-linear-gradient(
        90deg,
        rgb(170, 170, 170) 0px,
        rgb(170, 170, 170) 8px,
        transparent 8px,
        transparent 16px
    );
    margin-top: 20px;
    margin-left: -55px;
    position:relative;
}

.circulo1, .circulo2 {
    background: rgb(250, 250, 250);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
}

.circulo1 {
    left: -25px;
    border-right: dashed 2px rgb(170, 170, 170);  
}

.circulo2 {
    right: -25px;
    border-left: dashed 2px rgb(170, 170, 170);
}

.rodape-info {
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;    
}

.validade{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-left: -50px;
}

.disponivel {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

}
.botao-resgatar {
    padding: 5px;
    border-radius: 10%;
    margin-top: 5px;
    margin-right: -110%;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 119, 47);
    transition: transform 0.3s ease;
}

.botao-resgatar:hover {
    text-decoration: none;
}
