/*c s s  p a d r a o*/

/*c o n t e u d o*/

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background-color: #fb5630;
}

.corpo .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 35%;
    min-width: 350px;
    border-radius: 8px;
    padding: 30px 30px 50px;
    background-color: #fff;
}

.corpo .form_container h3 {
    font-weight: 400;
}

.corpo form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.corpo form input {
    padding: 10px 25px;
    border: 2px #d7d7d7 solid;
    border-radius: 8px;
    background-color: transparent;
}

.corpo form input[type="submit"] {
    border: none;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fb5630;
}

.corpo form input[type="submit"]:hover {
    background-color: #ef4d28;
    cursor: pointer;
}

.redefinir_sms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.redefinir_sms p {
    color: #0000ff;
    font-size: 14px;
}

.redefinir_sms p:hover {
    color: #5672ec;
    cursor: pointer;
}

.divisor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.divisor div {
    width: 46%;
    height: 2px;
    border-radius: 8px;
    background-color: #d7d7d7;
}

.divisor p {
    color: #d7d7d7;
}

.redes_sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.redes_sociais button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30%;
    border-radius: 8px;
    border: 2px #d7d7d7 solid;
    padding: 10px;
    background-color: transparent;
}

.redes_sociais button:hover {
    border-color: #979797;
    cursor: pointer;
}

.redes_sociais button img {
    width: 20px;
}

.cadastrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cadastrar p {
    color: #d7d7d7;
    font-size: 1em;
}

.cadastrar a {
    color: #fb5630;
}

.cadastrar a:hover {
    color: #f58268;
    cursor: pointer;
}