/*c s s  p a d r a o*/

/* c o n t e u d o */
.produto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 50px 0px;
}

.produto .produto_carrossel {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.produto_carrossel .cores :hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 30px rgba(251, 86, 48, 0.2);
    border: 1px solid rgb(255, 255, 255);
    border-color: rgb(251, 86, 48);
}

.produto .produto_carrossel .cores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.produto .produto_carrossel .cores img{
    width: 100px;
}

.produto .produto_carrossel .cor-selecionada img{
    width: 100%;
}

.produto .produto_infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produto .produto_infos h3{
    font-size: 28px;
}

.produto .produto_infos .preco {
    color: #fb5630;
}

.produto_infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    height: 100%;
}

.produto_infos button.botao {
    width: 50px;
    height: 50px;
    border: 1px solid #d7d7d7;
    background-color: transparent;
}

.produto_infos button.botao:hover{
    border-color: #fb5630;
    cursor: pointer;
}

/* BOTÃO DE "Comprar Agora" */
.produto_infos #botaoComprar {
    border: none;
    padding: 20px 10px;
    color: #fff;
    background-color: #fb5630;
    cursor: pointer;
}
