<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii</title>

    <link rel="stylesheet" href="../style_cadcliente.css">

</head>
<body>
    <header class="cabecalho">
        <img src="../img/logo.png" alt="Duas sacolas de compras">
        <h1>Xhopii</h1>
    </header>

    <nav class="nav-paginas">
        <ul>
            <li><a href="../homepage.html">Home</a></li>
            <li class="active"><a href="cad_cliente.html">Cadastro Cliente</a></li>
            <li><a>Cadastro Funcionário</a></li>
            <li><a>Cadastro Produto</a></li>
            <li><a>Ver Clientes</a></li>
            <li><a>Ver Funcionários</a></li>
            <li><a>Ver Produtos</a></li>
        </ul>
    </nav>
</body>
</html>