<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camisa Desenvolvedor Front-End CSS | Xhopii</title>

    <link rel="stylesheet" href="../style_interface_produto.css">
    <script type="text/javascript" src="../script.js"></script>

</head>
<body>
    <header class="cabecalho">
        <section class="logo">
                <img src="../img/logo.png" alt="Duas sacolas de compras">
                <h1 class="nome_site">Xhopii</h1>
        </section>
        
        <a href="../../index.html" class="sair"><button id="sair">Sair</button></a>
    </header>

    <nav class="nav-paginas">
        <ul>
            <a class="pags" href="../view/homepage.html"><li>Home</li></a>
            <a class="pags" href="../view/cad_cliente.html"><li>Cadastro Cliente</li></a>
            <a class="pags" href="cad_funcionario.html"><li>Cadastro Funcionário</li></a>
            <a class="pags" href="cad_produto.html"><li>Cadastro Produto</li></a>
            <a class="pags" href="ver_cliente.html"><li>Ver Clientes</li></a>
            <a class="pags" href="ver_funcionario.html"><li>Ver Funcionários</li></a>
            <a class="pags" href="../view/ver_produto.html"><li>Ver Produtos</li></a>
        </ul>
    </nav>

    <section class="produto">
        <section class="produto_carrossel">
            <section class="cores">
                <img src="../img/produto1.png" alt="Camiseta Preta com estampa" onclick="selecionarCor(this)">
                <img src="../img/produto2.png" alt="Camiseta Azul com estampa" onclick="selecionarCor(this)">
                <img src="../img/produto3.png" alt="Camiseta Verde com estampa" onclick="selecionarCor(this)">
                <img src="../img/produto4.png" alt="Camiseta Cinza com estampa" onclick="selecionarCor(this)">
                <img src="../img/produto5.png" alt="Camiseta Rosa com estampa" onclick="selecionarCor(this)">
            </section>

            <section class="cor-selecionada">
                <img id="imgPrincipal" src="../img/produto1.png" alt="Camiseta Preta com estampa">
            </section>

        </section>

        <section class="produto_infos">
            <h3 class="nome">Camisa Desenvolvedor Front-End CSS</h3>
            <h3 id="precoProduto" class="preco">R$ 56,90</h3>
            <p id="qtdDisponivel" class="qtd-disponivel">171 peças disponíveis</p>

            <section>
                <p>Modelos:</p>
                <button class="botao" id="btnModeloPreto" onclick="mudarPreco(this)">Preto</button>
                <button class="botao" id="btnModeloAzul" onclick="mudarPreco(this)">Azul</button>
                <button class="botao" id="btnModeloVerde" onclick="mudarPreco(this)">Verde</button>
                <button class="botao" id="btnModeloCinza" onclick="mudarPreco(this)">Cinza</button>
                <button class="botao" id="btnModeloRosa" onclick="mudarPreco(this)">Rosa</button>
            </section>

            <section>
                <p>Tamanhos:</p>
                <button class="botao" id="btnTamanhoP" onclick="mudarTamanho(this)">P</button>
                <button class="botao" id="btnTamanhoM" onclick="mudarTamanho(this)">M</button>
                <button class="botao" id="btnTamanhoG" onclick="mudarTamanho(this)">G</button>
                <button class="botao" id="btnTamanhoGG" onclick="mudarTamanho(this)">GG</button>
            </section>

            <p id="tamanhoSelecionado" >Tamanho Selecionado: P</p>
            <button id="botaoComprar">Comprar Agora</button>
        </section>

    </section>

    <footer>
        <section class="infos">
            <section class="atendimento">
                <h4 class="titulo_secao_footer">Atendimento ao Cliente</h4>
                <p><a>Central Ayuda Me</a></p>
                <p><a>Como Comprar</a></p>
                <p><a>Métodos de Pagamento</a></p>
                <p><a>Garantia da Xhopii</a></p>
                <p><a>Devolução e Reembolso</a></p>
                <p><a>Fale Comigo</a></p>
                <p><a>Ouvidoria</a></p>
            </section>
            
            <section class="sobre">
                <h4 class="titulo_secao_footer">Sobre a Xhopii</h4>
                <p><a>Sobre Nós</a></p>
                <p><a>Políticas Xhopii</a></p>
                <p><a>Política de Privacidade</a></p>
                <p><a>Programa de Aliados da Xhopii</a></p>
                <p><a>Seja um Entregador Xhopii</a></p>
                <p><a>Ofertas Relâmpago</a></p>
                <p><a>Xhopii Blog</a></p>
                <p><a>Imprensa</a></p>
            </section>
            
            <section class="pagamento">
                <h4 class="titulo_secao_footer">Pagamentos</h4>
                <section class="imgs-grid">
                    <img src="../img/logo-pix.png" alt="Pagamento com Pix">
                    <img src="../img/logo-boleto.png" alt="Pagamento com Boleto">
                    <img src="../img/logo-american-express.png" alt="Pagamento com American Express">
                    <img src="../img/logo-visa.png" alt="Pagamento com Cartão Visa">
                    <img src="../img/logo-mastercard.png" alt="Pagamento com Cartão Mastercard">
                    <img src="../img/logo-hipercard.png" alt="Pagamento com Cartão Hipercard">
                    <img src="../img/logo-elo.png" alt="Pagamento com Cartão Elo">
                </section>
            </section>

            <section class="siga">
                <h4 class="titulo_secao_footer">Siga-nos</h4>

                <article>
                    <img src="../img/logo-instagram.png" alt="Logo do Instagram">
                    <p>Instagram</p>
                </article>
                
                <article>
                    <img src="../img/logo-twitter.png" alt="Logo do Twitter">
                    <p>Twitter</p>
                </article>

                <article>
                    <img src="../img/logo-facebook.png" alt="Logo do Facebook">
                    <p>Facebook</p>
                </article>

                <article>
                    <img src="../img/logo-youtube.png" alt="Logo do YouTube">
                    <p>YouTube</p>
                </article>

                <article>
                    <img src="../img/logo-linkedln.png" alt="Logo do LinkedIn">
                    <p>LinkedIn</p>
                </article>
            </section>

            <section class="atendimento">
                <h4 class="titulo_secao_footer">Atendimento ao Cliente</h4>
                <img src="../img/qr-code.png" alt="QR Code para o Atendimento ao Cliente">
                <img src="../img/logo-google-play.png" alt="Baixar na Google Play">
                <img src="../img/logo-store-apple.png" alt="Baixar na Store Apple">
            </section>
        </section>

        <section class="direitos">
            <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
        </section>
    </footer>
</body>
</html>