<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii</title>

    <link rel="stylesheet" href="../style_visual_cads.css">

</head>
<body>
    <header class="cabecalho">
        <section class="logo">
                <img src="../img/logo.png" alt="Duas sacolas de compras">
                <h1 class="nome_site">Xhopii</h1>
        </section>
        
        <a href="../../index.html" class="sair"><button id="sair">Sair</button></a>
    </header>

    <nav class="nav-paginas">
        <ul>
            <a class="pags" href="homepage.html"><li>Home</li></a>
            <a class="pags" href="cad_cliente.html"><li>Cadastro Cliente</li></a>
            <a class="pags" href="cad_funcionario.html"><li>Cadastro Funcionário</li></a>
            <a class="pags" href="cad_produto.html"><li>Cadastro Produto</li></a>
            <a class="pags" href="ver_cliente.html"><li>Ver Clientes</li></a>
            <a class="pags" href="ver_funcionario.html"><li>Ver Funcionários</li></a>
            <a class="pags" href="ver_produto.html"><li>Ver Produtos</li></a>
        </ul>
    </nav>

    <section class="corpo">
        <h3>Clientes Cadastrados</h3>
        <section class="visu_container">
            <section class="infos_cadastradas">

                <section class="foto">
                    <img>
                </section>
    
                <section class="dados">
                    <section class="nome_cadastrado">
                        <h4 id="nomeCli">Nome</h4>
                        <h4 id="sobrenomeCli">Sobrenome</h4>
                    </section>
                    
                    <section class="cpf_cadastrado">
                        <h4>CPF:</h4>
                        <p>Seu CPF</p>
                    </section>

                    <section class="nascimento_cadastrado">
                        <h4>Data de nascimento:</h4>
                        <p id="nascimentoCli">Sua Data de nascimento</p>
                    </section>
                    
                    <section class="telefone_cadastrado">
                        <h4>Telefone:</h4>
                        <p id="telefoneCli">Seu Telefone</p>
                    </section>

                    <section class="email_cadastrado">
                        <h4>Email:</h4>
                        <p id="emailCli">Seu Email</p>
                    </section>                    
                </section>
            </section>
        </section>
        <section class="visu_container">
            <section class="infos_cadastradas">
                <section class="foto">
                    <img>
                </section>
    
                <section class="dados">
                    <section class="nome_cadastrado">
                        <h4 id="nomeCli">Nome</h4>
                        <h4 id="sobrenomeCli">Sobrenome</h4>
                    </section>
                    
                    <section class="cpf_cadastrado">
                        <h4>CPF:</h4>
                        <p>Seu CPF</p>
                    </section>

                    <section class="nascimento_cadastrado">
                        <h4>Data de nascimento:</h4>
                        <p id="nascimentoCli">Sua Data de nascimento</p>
                    </section>
                    
                    <section class="telefone_cadastrado">
                        <h4>Telefone:</h4>
                        <p id="telefoneCli">Seu Telefone</p>
                    </section>

                    <section class="email_cadastrado">
                        <h4>Email:</h4>
                        <p id="emailCli">Seu Email</p>
                    </section>                    
                </section>
            </section>
        </section>
    </section>


    <footer>
        <section class="infos">
            <section class="atendimento">
                <h4 class="titulo_secao_footer">Atendimento ao Cliente</h4>
                <p><a>Central Ayuda Me</a></p>
                <p><a>Como Comprar</a></p>
                <p><a>Métodos de Pagamento</a></p>
                <p><a>Garantia da Xhopii</a></p>
                <p><a>Devolução e Reembolso</a></p>
                <p><a>Fale Comigo</a></p>
                <p><a>Ouvidoria</a></p>
            </section>
            
            <section class="sobre">
                <h4 class="titulo_secao_footer">Sobre a Xhopii</h4>
                <p><a>Sobre Nós</a></p>
                <p><a>Políticas Xhopii</a></p>
                <p><a>Política de Privacidade</a></p>
                <p><a>Programa de Aliados da Xhopii</a></p>
                <p><a>Seja um Entregador Xhopii</a></p>
                <p><a>Ofertas Relâmpago</a></p>
                <p><a>Xhopii Blog</a></p>
                <p><a>Imprensa</a></p>
            </section>
            
            <section class="pagamento">
                <h4 class="titulo_secao_footer">Pagamentos</h4>
                <section class="imgs-grid">
                    <img src="../img/logo-pix.png" alt="Pagamento com Pix">
                    <img src="../img/logo-boleto.png" alt="Pagamento com Boleto">
                    <img src="../img/logo-american-express.png" alt="Pagamento com American Express">
                    <img src="../img/logo-visa.png" alt="Pagamento com Cartão Visa">
                    <img src="../img/logo-mastercard.png" alt="Pagamento com Cartão Mastercard">
                    <img src="../img/logo-hipercard.png" alt="Pagamento com Cartão Hipercard">
                    <img src="../img/logo-elo.png" alt="Pagamento com Cartão Elo">
                </section>
            </section>

            <section class="siga">
                <h4 class="titulo_secao_footer">Siga-nos</h4>

                <article>
                    <img src="../img/logo-instagram.png" alt="Logo do Instagram">
                    <p>Instagram</p>
                </article>
                
                <article>
                    <img src="../img/logo-twitter.png" alt="Logo do Twitter">
                    <p>Twitter</p>
                </article>

                <article>
                    <img src="../img/logo-facebook.png" alt="Logo do Facebook">
                    <p>Facebook</p>
                </article>

                <article>
                    <img src="../img/logo-youtube.png" alt="Logo do YouTube">
                    <p>YouTube</p>
                </article>

                <article>
                    <img src="../img/logo-linkedln.png" alt="Logo do LinkedIn">
                    <p>LinkedIn</p>
                </article>
            </section>

            <section class="atendimento">
                <h4 class="titulo_secao_footer">Atendimento ao Cliente</h4>
                <img src="../img/qr-code.png" alt="QR Code para o Atendimento ao Cliente">
                <img src="../img/logo-google-play.png" alt="Baixar na Google Play">
                <img src="../img/logo-store-apple.png" alt="Baixar na Store Apple">
            </section>
        </section>

        <section class="direitos">
            <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
        </section>
    </footer>
</body>
</html>